[submodule "ext/FUZIX"]
	path = ext/FUZIX
	url = https://github.com/UKTailwind/FUZIX
	branch = pc3
[submodule "ext/minifb"]
	path = ext/minifb
	url = https://github.com/emoon/minifb
[submodule "ext/miniaudio"]
	path = ext/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "ext/mbedtls"]
	path = ext/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
